{%extends 'base.html'%}
{%block about%}
<div class="about">
    <h1>About</h1>
    <p>Briefcasego is platform partnership to make e-contract with your partner </p>
    <p>We use ISDA templates to generate Contract<br>We use IPFS to store your contract<br>after find your partner make sure connect with metamask<br> to pay 10$ in Ethereum to validate yours<br>than we send you the contract file & link ipfs<br>Created by <mark>Salah Salah Eddine</mark></p>

</div>
{%include 'footer.html'%}
{%endblock about%}
